@font-face {
    font-family: Latok;
    src: url('./assets/fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: Latok_black;
    src: url('./assets/fonts/Lato-Black.ttf');
}
@font-face {
    font-family: Latok_light;
    src: url('./assets/fonts/Lato-Light.ttf');
}
@font-face {
    font-family: Latok_regular;
    src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: Latok_heavy;
    src: url('./assets/fonts/Lato-Heavy.ttf');
}
body, html {
    margin: 0;
    width: 1020px;
    max-width: 1020px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
    .portfolio {
        width: 100%;
        height: 864px;
        
        background-color: #2d303a;       
    }
        .wrapper {
            width: 939px;
            left: 50%;
            transform: translate(-50%);
            position: absolute;
        }
            
            .h2_head {                
                color: #666d89;
                font-size: 30px;
                font-family: 'Lato';
                font-weight: 900;   
                margin-top: 60px;
                margin-bottom: 22px;           
            }                
            .header_paragraph {
                font-weight: 300;  
                color: #666d89;
                font-size: 18px;
                font-family: 'Lato';
            }
        .btn_navigation {            
            padding: 0;            
            margin-top: -3px;
            margin-bottom: 19px;            
        } 
            .btn_li {
                display: inline-block;
            }
            .btn_navigation a {
                text-decoration: none;                
            }
            .btn_navigation .btn_nav_1:hover,
            .btn_navigation .btn_nav_2:hover,
            .btn_navigation .btn_nav_3:hover,
            .btn_navigation .btn_nav_4:hover {
                color: #dedede;
                border: 1px solid #dedede;
            }
            .btn_nav {        
                height: 22px;
                border-radius: 5px;
                border: 1px solid #6c7491;
                text-align: center;
                color: #6c7491;
                font-size: 12px;
                font-weight: 400;
                font-family: 'Lato';
                display: inline-block;
                box-sizing: border-box;
                vertical-align: middle;
                padding: 3px; /*Иногда заменить на 3*/
            }
            .btn_nav_1 {                
                width: 30px;
            }
            .btn_nav_2 {
                width: 78px;
                margin-left: 6px;
            }
            .btn_nav_3 {
                width: 93px;
                margin-left: 6px;
            }
            .btn_nav_4 {
                width: 57px;
                margin-left: 6px;
            }
        .image_wrapper {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            row-gap: 17px;
            height: 600px;
            overflow: hidden;
            column-gap: 17px;
        }
            .image {                
                width: 223px;
                height: 190px;                   
            }
            .prj_image {
                width: 220px;
                height: 187px;
            }
            .bottom_line_portfolio {
                width: 100%;
                height: 6px;
                background-color: #323746;
            }
            
     .aboutUs {
        width: 100%;
        height: 728px;
        background-color: #f2f2f2;
     }
            .aboutUs_header {
                margin-bottom: 43px;
            }
            .h2_head_aboutUs {
                margin-bottom: 18px;
            }
            .header_paragraph_aboutUs {            
                font-size: 18px;
                font-weight: 300;
                font-family: 'Lato';
                text-align: justify;
                line-height: 30px;
            }
        .aboutUs_wrapper {
            display: grid;            
            grid-template-rows: 300px 1fr 1fr;
            grid-template-columns: 300px 300px 300px; 
            /* row-gap: 17px; */
            column-gap: 20px;
            overflow: hidden;
        }
            .avatar {
                position: relative;
                background-color: #2d303a;            
            }

                .img_avatar {
                    position: absolute;
                    width: 300px;
                    height: 301px;
                }
                .naming {
                    margin-left: -1px;
                }
                .name {
                    font-size: 18px;
                    font-family: 'Lato';
                    font-weight: 900;
                    margin-top: 15px;
                    padding-top: 0;
                    text-align: left;
                    margin-bottom: 0;  
                    max-height: 19px;
                    overflow: hidden;                
                }                
                .about_paragraph {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: 'Lato';
                    line-height: 22px;
                    margin: 0;
                    text-align: justify;
                    margin-top: 10px;
                }
                .p_1_about {
                    width: 304px;
                    text-align: left;
                }
            .social {
                display: inline-block;
                padding: 0;
                margin: 0;
            }
            .social_acc {
                width: 32px;
                height: 32px;
                border-radius: 16px;
                /* background-color: #eb5055; */
                border: 1px solid #666d89;
                display: inline-block;
                box-sizing: border-box;
                position: relative;
                margin-top: 22px;
                margin-right: 4px;
            }

            .social .social_acc div {
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 32px;
                height: 32px;
                box-sizing: border-box;
            }
            .facebook {
                background: url('./assets/singolo2/image/social/f.png') no-repeat center;
            }
            .google {
                background: url('./assets/singolo2/image/social/g.png') no-repeat center;
            }
            .twitter {
                background: url('./assets/singolo2/image/social/t.png') no-repeat center;
            }
            .linkenIn {
                background: url('./assets/singolo2/image/social/l.png') no-repeat center;
            }
            .social_acc:hover {
                border: 1px solid #dedede;
                background-color: #dedede;
            }
    .bottom_line_aboutUs {
        width: 100%;
        height: 6px;
        background-color: #f2f2f2;
    }